.greet {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 95px;
    z-index: 5;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-shadow: 4px 3px 0 #7A7A7A;
    margin: 0px;
}

body{
    background: rgb(50, 15, 83);
}

img {
    width: 100vw;
    opacity: 0.9;

}

form {
    margin-top: 100px;
    position: relative;
}

input {
    padding: 10px;
    font-size: 17px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin-bottom: 50px;
}

input:focus, button:focus {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

button {
    font-size: 17px;
    color:rgb(1, 1, 255);
    border: none;
    background-color: transparent;
    position: absolute;
    right: 5px;
    top: 10px;
}

.search{
  font-size: 20px;
  margin-bottom: 20px;
  text-shadow: none;
}

.site {
  display: flex;
  width: 250px;
  justify-content: space-around;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  opacity: 1;
}

