<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="#">
    <title>Remote Job Scrapper</title>
</head>
<body>
    <div class="greet">
        <h1>Find Remote Jobs</h1>
        <h1>in the world!</h1>
        <form method="get" action="/report">
            <input placeholder="i.e python" required name="word">
            <button>See All Results</button>
        </form>
        <h1 class="search">Search from</h1>
        <div class="site">
          <a href="https://weworkremotely.com/remote-jobs/search" target="_blank">
            <img class="logo" title="weworkremotely" src="https://weworkremotely.com/assets/wwr-social-fd7d545c56e975b65fae9cf49346aac95a8cdb4774b2c269af89ac8993141380.png">
          </a>
          <a href="https://remoteok.io/" target="_blank">
            <img class="logo" title="remoteok" src="https://remoteok.io/assets/logo.png">
          </a>
          <a href="https://stackoverflow.com/" target="_blank">
            <img class="logo" title="stackoverflow" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsMrvEKKOCDJzqWWC7i9kbkQO36PUBcd949Q66mOdaJ4bm-50goJDhXoRHFh5jnPRH2Hs&usqp=CAU">
          </a>
        </div>
    </div>
    <img class="main" src="{{ url_for('static', filename='image/passengers_in_airport.jpg') }}" />
</body>
</html>