<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="#">
    <title>Job Scrapper</title>
</head>
<body>
    <div class="greet">
        <h1>welcome!</h1>
        <h1>Find your job</h1>
        <form method="get" action="/report">
            <input placeholder="i.e python" required name="word">
            <button>See All Results</button>
        </form>
        <h1 class="search">Search from</h1>
        <div class="site">
          <a href="https://programmers.co.kr/" target="_blank">
            <img class="logo" src="https://images.velog.io/images/trevor522/post/0fdb651a-a97e-4168-ae62-6fece9906ba9/programmers.png">
          </a>
          <a href="https://kr.indeed.com/" target="_blank">
            <img class="logo" src="https://image.winudf.com/v2/image1/Y29tLmluZGVlZC5hbmRyb2lkZW1wbG95ZXJzX2ljb25fMTU2MjIzMDk2Ml8wNTg/icon.png?w=&fakeurl=1">
          </a>
          <a href="https://stackoverflow.com/" target="_blank">
            <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsMrvEKKOCDJzqWWC7i9kbkQO36PUBcd949Q66mOdaJ4bm-50goJDhXoRHFh5jnPRH2Hs&usqp=CAU">
          </a>
        </div>
    </div>
    <img class="main" src="{{ url_for('static', filename='image/passengers_in_airport.jpg') }}" />
</body>
</html>