<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <link rel="shortcut icon" href="#">
    <title>Search Results</title>
</head>
<body>
    <header>
        <div class="title">
            <img id="departure" src="{{ url_for('static', filename='image/departures.png') }}" />
            <h1>Departure</h1>
        </div>
        <form method="get" action="/report">
            <input placeholder="{{ searching_by }}" name="word">
            <button><i class="fas fa-search fs-sm"></i></button>
            <h1> has {{results_number}} jobs!</h1>
        </form>
        <div class="date">{{date.day}} {{date.month}}</div>
    </header>
    <table>
        <tr class="header">
            <th>Site</th>
            <th>Title</th>
            <th>Company</th>
            <th>Link</th>
        </tr>
        {% for job in jobs %}
        <tr>
            <th>{{ job.site }}</th>
            <th>{{ job.title }}</th>
            <th>{{ job.company }}</th>
            <th><a href="{{ job.link }}" target="_blank">Apply</a></th>
        </tr>
        {% endfor %}
    </table>

</body>
</html>